.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}

.grid {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.mole {
    background-image: url('mole.jpg');
    background-size: cover;
}

body{
    background-color: rgb(13, 166, 236);
    font-family: 'Potta One', cursive;
    text-align: center;
}

.info{
    border-color: black;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}